<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Montserrat,sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #d90000;
}

.topnav a {

z-index: 9999;
  float: right;
  color: #f2f2f2;
  text-align: center;
  letter-spacing: 4px;
  padding: 14px 16px;
  border-radius: 0;
  text-decoration: none;
  font-size: 12px;
   border: 0;
  line-height: 1.42857143
 
}


.topnav a:hover {
  background-color: #fff;
  color: #d90000;
}


</style>
</head>
<body>

<div class="topnav">
    <a href="/adminlogin">/adminlogin</a>
    <a href="/donor/donorlogin">&nbsp; Donor</a>
    <a href="/patient/patientlogin">&nbsp; Patient</a>
    <a href="/">&nbsp; Home</a>

</div>



</body>
</html>
